<!--%= link_to "- Data Load Set-up", new_data_load_path, :style => "margin-left: -20px;" %-->

<table class="box_table" width="100%">
  <tbody>
    <tr class="lightblue_tr">
             <td width="25%"></td>
             <td width="25%"><h3><%= link_to "- View Patient All", show_all_patient_path %></h3></td>
             <td width="40%"><h3>Search Individual Patient details By ID ONLY</h3></td>
             <td width="10%"></td>
    </tr>
    <tr class="white_tr">
             <td width="25%"></td>
             <td width="25%"><h3><%= link_to "- Add New Patient", new_patient_master_path %></h3></td>
             <td width="25%"><h3>Edit Existing Patient Master</h3></td>
             <td width="25%"></td>
    </tr>
    <tr class="lightblue_tr">
             <td width="25%"></td>
             <td width="25%"></td>
             <td width="25%"></td>
             <td width="25%"></td>
    </tr>

  </tbody>
</table>