  <div id="footer">
     	<div class="copyright">
        <img src="/images/footer_logo.gif" alt="" title="" />
        </div>
        <div class="center_footer">&copy; Medical Clinic SIDAS 2008. All Rights Reserved</div>
    	<div class="footer_links">
        </div>
  </div>